#IDE
/nbproject
/.idea

#WordPress
/www/.htaccess
/www/wp-config.php
/www/wp-content/cache/
/www/wp-content/uploads/
/www/wp-snapshots/
#Sometimes WP configured to have "media" as "uploads" folder
/www/media/
/www/media-webpc/

#Plugins dynamic files
*/wp-content/advanced-cache.php
*/wp-content/db.php
*/wp-content/object-cache.php
*/wp-content/updraft/
*/wp-content/w3tc-config/
*/wp-content/wflogs/
/www/wp-content/webp-express

/www/uploads
/www/vendor

#robots
/www/robots.txt

#logs
*.log
error_log
/www/logs/*
!/www/logs/.htaccess

*.xml
*.iml
*.zip

#mac
*.DS_Store

#node-modules
node_modules/